body{
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.button{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;
}
.focus{
    border-left: 3px solid orangered;
    padding: 0 0 0 5px;
}
.first{
    display: flex;
    margin-bottom: 200px;
}
.big-mission{
    width: 50%;
    margin-left: 10%;
}
.big-mission img{
    width: 50%;
}
.second{
    margin-bottom: 200px;
}
.my-mission{
    text-align: center;
}
.m-v-g{
    display: flex;
    margin: 0 4% 0 4%;
}
.mission{
    width: 33.33%;
    margin: 3%;
    padding: 3%;
    background-color: seashell;
    border-radius: 20px;
}
.mission img{
    width: 200px;
}
.vission{
    width: 33.33%;
    margin: 3%;
    padding: 3%;
    background-color: silver;
    border-radius: 20px;
}
.vission img{
    width: 200px;
}
.goals{
    width: 33.33%;
    margin: 3%;
    padding: 3%;
    background-color: lightblue;
    border-radius: 20px;
}
.goals img{
    width: 200px;
}
.third{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-position-x: left;
    background-repeat: no-repeat;
    background-position-y: center;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}
.develop{
    padding-right: 50px;
}
.fourth{
    display: flex;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
footer{
    background-color: black;
}
.footer{
    text-align: center;
    padding: 5px 0 10px 0;
}
.sky-blue{
    color: skyblue;
}
small{
    color: wheat;
}